.main1 {
  height: 100vh;
  background: url("./imgs/index-1.png") center center no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.main1 .number-item {
  width: 60px;
  height: 100px;
  display: inline-block;
  color: #fff;
  font-family: "Din";
}

.main1 .number-item span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  overflow: hidden;
}

.main1 .number-item span i {
  font-style: normal;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 98px;
  transform: translate(-50%, 0);
  transition: transform 1s ease-in-out;
  letter-spacing: 10px;
}
.main1 .title{
  padding-bottom: 20px;
}

.main2 .content1 {
  height: 430px;
  text-align: center;
  padding-top: 100px;
}

.main2 .content1 .tip1{
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}

.main2 .content1 .title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}

.main2 .content1 .img1 {
  width: 1200px;
  margin: 0 auto;
}

.main2 .content1 .tip {
  width: 800px;
  margin: 0 auto;
  font-size: 14px;
  padding-bottom: 60px;
  text-align: left;
}

.main2 .content2 {
  background: url("./imgs/index-2.png") center center no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.main3 {
  height: 1000px;
  width: 100%;
  background-color: #191a1f;
  padding-top: 132px;
}

.main3 .wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main3 .wrapper .item {
  color: #fff;
  margin-bottom: 60px;
  display: flex;
}

.main3 .wrapper .item .content {
  width: 600px;
  padding-top: 90px;
}

.main3 .wrapper .item .content .line {
  height: 40px;
  width: 50px;
  border-top: 4px solid #fff;
  display: inline-block;
}

.main3 .wrapper .item .content .title {
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 14px;
}

.main3 .wrapper .item .content .tip {
  font-size: 14px;
  padding-bottom: 24px;
}
.main3 .wrapper .item .content .btn {
  width: 104px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.main3 .wrapper .item .content .btn.btn-white{
  background-color: #fff;
  color:#000;
}
.main3 .wrapper .item .content .btn.btn-black{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.main3 .wrapper .item .content .btn.btn-black:hover{
  background-color: #fff;
  color:#000;
}
.main3 .wrapper .item img{
  width: 600px;
  height: 338px;
  object-fit: cover;
}

.scroll-num {
  font-size: 98px;
  letter-spacing: 6px;
  font-family: "Din";
}