<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>碳明科技（Timing）官网</title>
  <meta name="description" content="碳明科技是一家专注于实现垃圾就地资源化利用的科技创新型企业，产品涵盖不同体量的湿垃圾就地处理设备及物联网管理系统。公司拥有多项自主研发知识产权和一流的研发团队，核心技术包括高温破壁、干化脱水、炭化处理等。">
  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="./commom/basic.css?v=1">
  <link rel="stylesheet" href="./commom/header.css?v=1">
  <link rel="stylesheet" href="./commom/footer.css?v=1">
  <link rel="stylesheet" href="./index/index.css?v=1">
</head>
<body>
  <div class="page">
    <div class="header">
      <div class="left flex">
        <span style="margin-right: 16px">碳明科技</span> TIMING
      </div>
      <div class="right">
        <a class="nav" href="./index.html">首页</a>
        <div class="nav">
          <div class="select-title">硬件产品 <img class="arrow-down" src="./static/arrow-down-white.png" alt="">
            <div class="select">
              <a class="item" href="./product/index.html#anchor1">青厨处理设备</a>
            </div>
          </div>
        </div>
        <div class="nav">
          <div class="select-title">解决方案 <img class="arrow-down" src="./static/arrow-down-white.png" alt="">
            <div class="select">
              <a href="./solution/index.html#anchor1" class="item">整体环境解决方案</a>
              <a href="./solution/index.html#anchor2" class="item">垃圾源头解决方案</a>
            </div>
          </div>
        </div>
        <div class="nav">
          <div class="select-title">实施案例 <img class="arrow-down" src="./static/arrow-down-white.png" alt="">
            <div class="select">
              <a href="./case/index.html" class="item">大华西溪风情</a>
            </div>
          </div>
        </div>
        <a class="nav" href="./about/index.html">关于我们</a>
      </div>
    </div>
    <!-- index 页面 -->
    <div class="main1 flex">
      <div class="content" data-scroll-reveal="enter top over 0.4s">
        <p class="title txt-s24">我们正在为城市“青厨”垃圾</p>
        <div class="flex">
          <ul style="padding: 0" v-if="!isSafari">
            <!-- :class="{'number-item': !isNaN(item)}" -->
            <li class="number-item" v-for="(item, index) in computeNumber" :key="index">
              <span>
                <i v-if="item != ':'" ref="numberItem">0123456789</i>
                <i v-else ref="numberItem">{{item}}</i>
              </span>
            </li>
          </ul>
          <span v-else class="scroll-num">{{computeNumber.join("")}}</span>
          <span style="font-size: 44px;padding-left: 10px">kg</span>
        </div>
      </div>
    </div>

    <div class="main2">
      <div class="content1">
        <p class="title">善用垃圾：城市垃圾的解决方案，就在您的身边。</p>
        <p class="tip">碳明科技聚焦于垃圾产生的源头，创造小体量、可移动、模块化的垃圾处理设备，把垃圾从源头处资源化利用，减少后期人力物力成本。我们的理念是通过科技创新和物联网平台的搭建，为城市打造垃圾的分布式处理体系。从此垃圾处理不再是一个人们担心的话题，而是一个提升城市生活品质的必需品。</p>
        <img class="img1" src="./index/imgs/index-3.png" alt="">
        <p class="tip1">轻触一下，则“青厨”。</p>
      </div>
      <div class="content2"></div>
    </div>

    <div class="main3">
      <div class="wrapper">
        <div class="item">
          <img src="./index/imgs/index-4.png" alt="" style="object-fit: contain">
          <div class="content txt-left" style="padding-left: 34px">
            <span class="line"></span>
            <p class="title">整体环境解决方案</p>
            <p class="tip">有机垃圾分布式处理系统，将餐厨问题在源头处悄无声息的解决</p>
            <a href="./solution/index.html" class="btn btn-black">了解更多</a>
          </div>
        </div>
        <div class="item">
          <div class="content txt-right" style="padding-right: 34px">
            <span class="line"></span>
            <p class="title">垃圾源头解决方案</p>
            <p class="tip">“青厨”融入社区文化，从此垃圾处理成为提升生活品质的象征</p>
            <a href="./solution/index.html" class="btn btn-black">了解更多</a>
          </div>

          <img src="./index/imgs/index-7.png" alt="">
        </div>
      </div>
    </div>

    <div class="main4">
      <p class="title">关于我们</p>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="info">
        <div class="title">
          <p class="content">杭州碳明科技有限公司</p>
          <p class="tip">HANGZHOU TIMING TECHNOLOGY CO. LTD</p>
        </div>
        <p class="item">地址：浙江省杭州市余杭区海创园4幢502</p>
        <img class="qr-code" src="./static/qr-code.png" alt="">
        <p>碳明小助手微信</p>
      </div>
      <div class="info">
        <div class="title">
          <p class="content">商务合作/媒体采访</p>
        </div>
        <p class="item">联系人：王先生</p>
        <p class="item">电话：13967951666</p>
        <p class="item">邮箱：wangpan@timinghub.com</p>
      </div>
      <div class="info">
        <div class="title">
          <p class="content">售后服务</p>
        </div>
        <p class="item">联系人：阿福</p>
        <p class="item">电话：18067909985</p>
        <p class="item">邮箱：guozengfu@timinghub.com</p>
      </div>
      <div class="info">
        <div class="title">
          <p class="content">加入我们</p>
        </div>
        <p class="item">联系人：戴女士</p>
        <p class="item">电话：18067909985</p>
        <p class="item">简历投递邮箱：daiyuqing@timinghub.com</p>
      </div>
    </div>
  </div>
</body>
<script src="./lib/scrollReveal.js"></script>
<script src="./lib/vue.min.js"></script>
<script src="./index/index.js?v=1"></script>
<script>
  (function(){
    window.scrollReveal = new scrollReveal({ reset: true, move: '50px'});
  })();
  </script>
</html>