.main1 {
  height: 100vh;
  z-index: 99;
  background: #191A1F;
  align-items: center;
  justify-content: center;
}
.main1 .img{
  width: 1200px;
  height: 400px;
}

.main1 .wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  text-align: center;
  color: #fff;
  padding-bottom: 104px;
}

.main1 .wrapper .title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 12px;
}

.main1 .wrapper .tip {
  padding-bottom: 10px;
  font-size: 18px;
}

.main1 .wrapper .arrow {
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 66px;
  left: 50%;
  margin-left: -19px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s ease infinite;
  /* Safari 和 Chrome */
}

@keyframes arrow {
  from {
    bottom: 66px;
  }

  50% {
    bottom: 40px
  }

  to {
    bottom: 66px;
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  from {
    bottom: 66px;
  }

  50% {
    bottom: 40px
  }
  to {
    bottom: 66px;
  }
}
.main2 {
  padding-top: 96px;
  text-align: center;
  padding-bottom: 100px;
}
.main2 .title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 50px;
}
.main2 .img1 {
  width: 1140px;
  height: 188px;
  margin: 0 auto;
}
.main2 .img2 {
  display: block;
  width: 1140px;
  margin: 100px auto 60px auto;
}
.main2 .img3{
  width: 688px;
  margin: 0 auto;
}
.main3 {
  padding: 200px 0 120px 0;
  background: #191A1F;
  color: #fff;
}
.main3 .wrapper{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
}
.main3 .wrapper .item {
  width: 550px;
  color:#fff;
  text-align: center;
}
.main3 .wrapper .item .img{
  display: block;
  width: 100%;
}
.main3 .wrapper .item .tip1{
  font-size: 32px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 12px;
}
.main3 .wrapper .item .tip2{
  font-size: 14px;
}
.main3 .title {
  font-size: 32px;
  padding-bottom: 12px;
}
.main3 .tip{
  font-size: 14px;
}

.main4{
  padding-bottom: 80px;
  padding-top: 100px;
}
.main4 .wrapper{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main4 .wrapper .item{
  width: 590px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.main4 .wrapper .item .img{
  display: block;
  width: 100%;
}
.main4 .wrapper .item .content{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -140px;
  left: 0;
  width: 100%;
  height: 140px;
  padding-top: 46px;
  padding-bottom: 20px;
  box-sizing: border-box;
  color: #fff;
}
.main4 .wrapper .item .content .title{
  font-size: 28px;
  padding-bottom: 12px;
}
.main4 .wrapper .item .content .tip{
  font-size: 14px;
}
.main4 .wrapper .item:hover .content{
  bottom: 0;
  transition: bottom 0.5s;
}

.main5 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  background: url("./img/index-11.png") center center no-repeat;
  background-size: cover;
  text-align: center;
}
.main5 .content {
  flex: 1;
}
.main5 .title{
  font-size: 32px;
  padding-bottom: 12px;
}
.main5 .tip{
  font-size: 14px;
}