.header{
  position: absolute;
  width: 1200px;
  margin: 0 auto;
  top: 0;
  display: flex;
  left: 50%;
  margin-left: -600px;
  color: #fff;
  padding-top: 16px;
}
.header .left{ 
  flex: 1;
  font-size: 22px;
  font-weight: bold;
}
.header .right{
  display: flex;
}
.header .right .nav{
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  cursor: pointer;
}
.header .right .nav .select-title{
  display: flex;
}
.header .right .nav img{
  width: 12px;
  margin-left: 8px;
  height: 6px;
  margin-top: 8px;
}