.header{
  position: absolute;
  width: 1200px;
  margin: 0 auto;
  top: 0;
  display: flex;
  left: 50%;
  margin-left: -600px;
  color: #fff;
  z-index: 100;
}
.header .left{ 
  flex: 1;
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
}
.header .right{
  display: flex;
}
.header .right .nav{
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
  padding: 16px 10px;
}
.header .right .nav:hover{
  background: rgba(0, 0, 0, 0.2);
}
.header .right .nav .select-title{
  display: flex;
}
.header .right .nav img{
  width: 12px;
  margin-left: 8px;
  height: 6px;
  margin-top: 8px;
}

.header .right .nav .select {
  position: absolute;
  top: 51px;
  left: 0;
  opacity: 0;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
}
.header .right .nav .arrow-down{
  transform: rotate(0deg);
}
.header .right .nav:hover .arrow-down{
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.header .right .nav:hover .select{
  opacity: 1;
}
.header .right .nav .select .item{
  padding-top: 6px;
  display: block;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
}