.main1{
  background: url("./img/index-1.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.main1 .wrapper .title{
  font-size: 32px;
  padding-bottom: 12px;
}
.main1 .wrapper .tip{
  font-size: 18px;
}
.main2{
  padding: 20px 0 100px 0 ;
}
.main2 .img1 {
  width: 1000px;
  display: block;
  margin: 0 auto;
}
.main2 .wrapper{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main2 .wrapper .item .img{
  display: block;
  width: 590px;
}
.main2 .wrapper .item .content{
  padding: 20px 0 0 40px;
}
.main2 .wrapper .item .content .title1{
  font-size: 20px;
  font-weight: bold;
}
.main2 .wrapper .item .content .title2{
  font-size: 16px;
  color: #999999
}
.main2 .wrapper .item .content .mod-tip{
  font-size: 14px;
  color: #333333;
}
.main2 .title{
  text-align: center;
  font-size: 32px;
  padding: 80px 0 48px 0;
}
.main2 .tip3 {
  padding: 50px 0 12px 0;
}
.main2 .tip4{
  color: #333333;
}
.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.video-wrapper .video{
  display: block;
  width: 1000px;
  margin: 0 auto;
  outline: none;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -300px;
  cursor: pointer;
}

.video-wrapper .img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -350px;
  right: 50%;
  margin-right: -550px;
  z-index: 100;
}