<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>碳明科技（Timing）官网</title>
  <meta name="description"
    content="碳明科技是一家专注于实现垃圾就地资源化利用的科技创新型企业，产品涵盖不同体量的湿垃圾就地处理设备及物联网管理系统。公司拥有多项自主研发知识产权和一流的研发团队，核心技术包括高温破壁、干化脱水、炭化处理等。">
  <link rel="icon" href="../favicon.ico">
  <script src="../lib/rem.pc.js"></script>
  <link rel="stylesheet" href="../lib/swiper.min.css">
  <link rel="stylesheet" href="../commom/basic.css?v=1">
  <link rel="stylesheet" href="../commom/header.css?v=1">
  <link rel="stylesheet" href="../commom/footer.css?v=3">
  <link rel="stylesheet" href="./index.css?v=1">
</head>

<body>
  <div class="page" id="page">
    <div style="color: #000;" class="header">
      <div class="left flex">
        <span style="margin-right: 16px">碳明科技</span> TIMING
      </div>
      <div class="right">
        <a class="nav" href="../index.html">首页</a>
        <div class="nav">
          <div class="select-title">产品 <img class="arrow-down" src="../static/arrow-down-white.png" alt="">
            <div class="select">
              <a class="item" href="#anchor1">青厨处理设备</a>
              <a class="item" href="./dandelion.html">蒲公英分布式管理系统</a>
            </div>
          </div>
        </div>
        <div class="nav">
          <div class="select-title">解决方案 <img class="arrow-down" src="../static/arrow-down-white.png" alt="">
            <div class="select">
              <a href="../solution/index.html#anchor1" class="item">整体环境解决方案</a>
              <a href="../solution/index.html#anchor2" class="item">垃圾源头解决方案</a>
            </div>
          </div>
        </div>
        <div class="nav">
          <div class="select-title">实施案例 <img class="arrow-down" src="../static/arrow-down-white.png" alt="">
            <div class="select">
              <a href="../case/index.html" class="item">大华西溪风情</a>
            </div>
          </div>
        </div>
        <a class="nav" href="./about/index.html">关于我们</a>
      </div>
    </div>
    <a name="anchor1"></a>
    <!-- main -->
    <div class="main1">
      <div class="swiper-container swiper1" id="swiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="http://www.timinghub.com/assets/product/index/3.png" alt="">
            <div class="box txt-black">
              <p class="title">青厨垃圾处理设备</p>
              <p class="tip">针对垃圾类型: 厨余垃圾、湿垃圾、易腐垃圾、有机物</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="http://www.timinghub.com/assets/product/index/4.png" alt="">
            <div class="box txt-black">
              <p class="title">青厨垃圾处理设备</p>
              <p class="tip">针对垃圾类型: 厨余垃圾、湿垃圾、易腐垃圾、有机物</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="http://www.timinghub.com/assets/product/index/2.png" alt="">
            <div class="box txt-white">
              <p class="title">青厨垃圾处理设备</p>
              <p class="tip">针对垃圾类型: 厨余垃圾、湿垃圾、易腐垃圾、有机物</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="http://www.timinghub.com/assets/product/index/1.png" alt="">
            <div class="box txt-white">
              <p class="title">青厨垃圾处理设备</p>
              <p class="tip">针对垃圾类型: 厨余垃圾、湿垃圾、易腐垃圾、有机物</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
        <div class="swiper-button-next"></div>
        <!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
      </div>
    </div>

    <div class="main2">
      <div class="item">
        <p class="title">10平方</p>
        <div class="box">
          设备模块化设计生产，高度集成化制作，占地10平方米。安装运输，如商业电器般，即插即用。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="item">
        <p class="title">6项专利</p>
        <div class="box">
          高温破壁、杀菌和自动洗桶技术等6项专利, 设备在垃圾产生的源头就把餐厨垃圾转化为干化有机质。
        </div>
      </div>
      <div class="item">
        <p class="title">无邻避效应</p>
        <div class="box">
          全过程在密闭的舱体里完成，干净清洁无污染排放。配置垃圾桶全自动清洗，改善环境，减轻人工的负担。
        </div>
      </div>
    </div>

    <div class="main3">
      <div class="main-title">
        <div class="title">两档运行</div>
      </div>
      <div class="box">
        <div class="box1">
          <p>90°C 预处理 <br>减量50%</p>
        </div>
        <div class="box2">
          <p class="title">就地无害化、减量化处理垃圾</p>
          <p class="tip">
            脱油除盐，去除自由水<br>预处理程序持续2小时，高效减重50%，体积减少65%
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box1" style="background: linear-gradient(to bottom, #40B09F, #205850);">
          <p>150°C 全处理<br>减量100%</p>
        </div>
        <div class="box2" style="background-color: #40B09F;">
          <p class="title">就地无害化、减量化、资源化处理垃圾 - 无需清运</p>
          <p class="tip">
            脱油除盐，去除自由水；高温热压，快速干化有机质<br>预处理2小时，减量50%；程序自动继续运行8小时，直至厨余垃圾转化为有机肥介质
          </p>
        </div>
      </div>
    </div>

    <div class="main4">
      <img src="http://www.timinghub.com/assets/product/index/7.png" alt="">
      <div class="box">
        <div class="box1">
          <span class="title" :class="{'active': active1 == 1}" @click="click1(1)">运行稳定</span>
          <span class="title" :class="{'active': active1 == 2}" @click="click1(2)">运行稳定</span>
          <span class="title" :class="{'active': active1 == 3}" @click="click1(3)">运行稳定</span>
        </div>
        <div class="box2">
          <img v-if="active1 == 1" src="http://www.timinghub.com/assets/product/index/8.png" alt="">
          <img v-if="active1 == 2" src="http://www.timinghub.com/assets/product/index/9.png" alt="">
          <img v-if="active1 == 3" src="http://www.timinghub.com/assets/product/index/10.png" alt="">
        </div>
      </div>
    </div>

    <div class="main5">
      <div class="main-title">
        <div class="title">设备参数</div>
      </div>

      <div class="box">
        <div class="left">
          <img src="http://www.timinghub.com/assets/product/index/11.png" alt="">
        </div>
        <div class="right">
          <div class="nav">
            <span class="arrow1" v-show="active2 != 1">
              << </span> <div class="nav-outer" :class="{'nav-yellow': active2 == 2}">
                <span class="nav1" :class="{'active': active2 == 1}" @click="click2(1)">
                  青厨标准版
                </span>
                <span class="nav2" :class="{'active': active2 == 2}" @click="click2(2)">
                  青厨轻量版
                </span>
          </div>
          <span class="arrow2" v-show="active2 != 2"> >></span>
        </div>
        <div class="box1">
          <div class="item">
            <div class="title">处理档位</div>
            <div class="tip">预处理<span v-if="active2 != 2">、<span :class="{'tip1': active2 == 3}">全处理</span></span></div>
          </div>
          <div class="item">
            <div class="title">功能</div>
            <div class="tip">无害化、减量化<span v-if="active2 != 2">、<span :class="{'tip1': active2 == 3}">资源化</span></span>
            </div>
          </div>
          <div class="item">
            <div class="title">效率</div>
            <div class="tip">预处理 2小时/吨；<span v-if="active2 != 2">、<span :class="{'tip1': active2 == 3}">全处理
                  10小时/吨</span></span></div>
          </div>
          <div class="item">
            <div class="title">物联网</div>
            <div class="tip">蒲公英分布式管理系统</div>
          </div>
          <div class="item">
            <div class="title">尺寸</div>
            <div class="tip">4.5 × 2.2 × <span v-if="active2 != 2" :class="{'tip1': active2 == 3}"> 2.6 m</span><span
                v-else>2.45</span></div>
          </div>
          <div class="item">
            <div class="title">占地面积</div>
            <div class="tip">10 平方</div>
          </div>
          <div class="item">
            <div class="title">噪音</div>
            <div class="tip"><span v-if="active2 !=2" :class="{'tip1': active2 == 3}">
                < 70 dB </span> <span v-else>
                  < 50db</span> </div> </div> <div class="item">
                    <div class="title">能耗</div>
                    <div class="tip">3 x 380 V; 50 Hz; 160 A</div>
            </div>
            <div class="item">
              <div class="title">装机功率</div>
              <div class="tip"><span v-if="active2 !=2" :class="{'tip1': active2 == 3}">60kW</span><span
                  v-else>29kW</span></div>
            </div>
            <div class="item">
              <div class="title">运行功率</div>
              <div class="tip"><span v-if="active2 !=2" :class="{'tip1': active2 == 3}">10-50kW</span><span
                  v-else>2-25kW</span></div>
            </div>
            <div class="item">
              <div class="title">重量</div>
              <div class="tip"><span class="tip">8顿</span></div>
            </div>
            <div class="item">
              <div class="title">设备模块</div>
              <div class="tip">垃圾桶自动提升及称重、垃圾桶自动清洗装置、废水收集处理装置、活性炭除臭装置、自动出料装置、干化热压舱
                <span v-if="active2 != 2">
                  <span :class="{'tip1': active2 == 3}">标准版)</span>、<span :class="{'tip1': active2 == 3}">冷凝风机</span>
                </span>
                <span v-else>(轻量版)</span>
              </div>
            </div>
            <p class="mod-title">工程条件</p>
            <div class="item">
              <div class="title">层高需求</div>
              <div class="tip">3.2 米</div>
            </div>
            <div class="item">
              <div class="title">电源型号</div>
              <div class="tip">ZR-YJVP 3 * 50 + 2 * 16</div>
            </div>
            <div class="item">
              <div class="title">装机功率</div>
              <div class="tip">60 KW * 8</div>
            </div>
            <div class="item">
              <div class="title">室内通风</div>
              <div class="tip">100 立方米/h</div>
            </div>
            <div class="item">
              <div class="title">给水需求</div>
              <div class="tip">流量3.6-5.4 立方米立方米/h <br>DN32自来水接口 （桶自动清洗需水:3 升/桶）</div>
            </div>
            <div class="item">
              <div class="title">排水需求</div>
              <div class="tip">DN50以上排水管道，接至隔油设备</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main6">
      <div class="main-title">
        <div class="title">更多型号</div>
      </div>
      <img class="img" src="http://www.timinghub.com/assets/product/index/12.png" alt="">
      <div class="box">
        <img class="img1" src="http://www.timinghub.com/assets/product/index/13.png" alt="">
        <div class="box1">
          1. 垃圾体量换算：6桶*240L≈1 T； 15桶*120L≈1 T。 <br>
          2. 碳明TM-200设备默认为不含提升机进料系统；进料方式为人工进料。<br>
          3. 价格、更多型号信息，欢迎致电垂询！ 碳明科技为您量身定制垃圾处理方案!
        </div>
      </div>
    </div>

    <div class="main7">
      <div class="main-title">
        <div class="title">
          物联网 IOT
        </div>
      </div>
      <a class="link" href="./dandelion.html">更多关于蒲公英物联网系统 >></a>
      <div class="box">
        <div class="item">
          <img src="http://www.timinghub.com/assets/product/index/14.png" alt="">
          <div class="box1">
            <p>移动端</p>
            <p class="hover-line">随时随地掌握设备运行数据</p>
          </div>
        </div>
        <div class="item">
          <img src="http://www.timinghub.com/assets/product/index/15.png" alt="">
          <div class="box1">
            <p>处理台账</p>
            <p class="hover-line">单点及多点数据报表 （月/年）</p>
          </div>
        </div>
        <div class="item">
          <img src="http://www.timinghub.com/assets/product/index/16.png" alt="">
          <div class="box1">
            <p>可视化大屏</p>
            <p class="hover-line">可视化数据及预测性维护</p>
          </div>
        </div>
      </div>
    </div>

    <div class="main8">
      <div class="main-title">
        <div class="title">应用场景</div>
      </div>
      <div class="box">
        <div class="item">
          <p class="title">场景</p>
          <p class="tip">
            单位食堂、高端酒店、企业园区、 <br>
            学校、社区、岛屿、景区等
          </p>
          <p class="tip1">设备推荐：青厨<span class="tip2">标准版</span></p>
          <div class="box1">
            <div class="box2">90°C 预处理 <br>减量50%</div>
            <div class="box3">150°C 全处理 <br>减量100%</div>
          </div>
        </div>

        <div class="item">
          <p class="title">场景</p>
          <p class="tip">
            商业综合体、垃圾中转站等<br>厨余垃圾大量集中产生场所
          </p>
          <p class="tip1">设备推荐：<span class="tip2">青厨轻量版</span></p>
          <div class="box1">
            <div class="box4">90°C 预处理<br>减重50%（体积减少65%）</div>
          </div>
        </div>
      </div>
    </div>

    <div class="main9">
      <div class="main-title">
        <div class="title">
          碳明有机肥
        </div>
      </div>
      <p class="title">经过150°C 全处理后，青厨设备可以将餐厨垃圾资源化利用。产出物为干化有机质，属于有机肥介质，大大优于生物有机肥国家标准（NY 884—2012）。</p>
      <div class="box">
        <div class="left">
          <div class="item">
            <img src="http://www.timinghub.com/assets/product/index/17.png" alt="">
          </div>
          <div class="item">
            <img src="http://www.timinghub.com/assets/product/index/18.png" alt="">
          </div>
          <div class="item">
            <img src="http://www.timinghub.com/assets/product/index/19.png" alt="">
            <div class="tip"> <span>碳明有机肥</span> </div>
          </div>
          <div class="item">
            <img src="http://www.timinghub.com/assets/product/index/20.png" alt="">
            <div class="tip"><span>有机肥种植实验</span></div>
          </div>
        </div>

        <div class="right">
          <img src="http://www.timinghub.com/assets/product/index/21.png" alt="">
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="wrapper">
        <div class="info">
          <div class="title">
            <p class="content">杭州碳明科技有限公司</p>
            <p class="tip">HANGZHOU TIMING TECHNOLOGY CO. LTD</p>
          </div>
          <p class="item">地址：浙江省杭州市余杭区海创园4幢502</p>
          <img class="qr-code" src="../static/qr-code.png" alt="">
          <p>关注碳明公众号</p>
        </div>
        <div class="info">
          <div class="title">
            <p class="content">商务合作/媒体采访</p>
          </div>
          <p class="item">联系人：王先生</p>
          <p class="item">电话：13967951666</p>
          <p class="item">邮箱：wangpan@timinghub.com</p>
        </div>
        <div class="info">
          <div class="title">
            <p class="content">售后服务</p>
          </div>
          <p class="item">联系人：阿福</p>
          <p class="item">电话：18067909985</p>
          <p class="item">邮箱：guozengfu@timinghub.com</p>
        </div>
        <div class="info">
          <div class="title">
            <p class="content">加入我们</p>
          </div>
          <p class="item">联系人：戴女士</p>
          <p class="item">电话：13256178167</p>
          <p class="item">简历投递邮箱：daiyuqing@timinghub.com</p>
        </div>
      </div>
      <div class="law-info">
        <a target="_blank" href="http://beian.miit.gov.cn">备案号“浙B2-20080101”</a>
      </div>
    </div>
  </div>
</body>
<script src="../lib/swiper.min.js"></script>
<script src="../lib/vue.min.js"></script>
<script src="./index.js"></script>

</html>